/* Admin.css */

.admin-container {
  display: flex;
  /* Folosim Flexbox pentru a alinia elementele pe orizontală */
  flex-direction: column;
  /* Inițial, alinierea este pe verticală */
  min-height: 100vh;
  /* Asigurăm că containerul ocupă cel puțin toată înălțimea ecranului */
  margin: 0;
  /* Eliminăm marginile implicite ale body-ului */
  padding: 20px;
  background-color: #f4f4f4;
  /* Un fundal gri deschis */
  font-family: sans-serif;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  /* Aliniem titlul și butonul de logout la capete opuse */
  align-items: center;
  /* Aliniem vertical titlul și butonul */
  margin-bottom: 20px;
}

.admin-header h2 {
  color: #333;
  /* Culoare mai închisă pentru titlu */
}

.admin-logout-button {
  background-color: #007bff;
  /* Culoare albastră pentru butonul de logout */
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  /* Adăugăm bordură rotunjită */
}

.admin-logout-button:hover {
  background-color: #0056b3;
  /* Culoare mai închisă la hover */
}

.admin-form {
  margin-bottom: 20px;
}

.admin-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Stiluri pentru editorul React Quill */
.quill {
  height: 300px;
  /* Înălțimea editorului */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-submit-button {
  background-color: #28a745;
  /* Culoare verde pentru butonul de adăugare */
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}

.admin-submit-button:hover {
  background-color: #1e7e34;
  /* Culoare mai închisă la hover */
}

.admin-posts-list {
  list-style: none;
  /* Eliminăm marcatorii de listă */
  padding: 0;
}

.admin-post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  /* Fundal alb pentru postări */
}

.admin-post h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

.admin-post p {
  margin-bottom: 10px;
}

.admin-post-actions {
  display: flex;
  gap: 10px;
  /* Spatiere intre butoane */
}

.admin-post-actions button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.admin-post-edit-button {
  background-color: #ffc107;
  /* Galben pentru editare */
}

.admin-post-delete-button {
  background-color: #dc3545;
  /* Roșu pentru ștergere */
}

/* Formularul de editare */
.admin-edit-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.admin-edit-form .quill {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.admin-edit-form button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;

}