.containerHome {
  display: flex;
  flex-direction: row;
  /* Inițial, aliniere pe verticală (pentru ecran mic) */
  justify-content: space-between;
  /* Aliniere pe orizontală */
  width: 100%;
  /* Ocupă toată lățimea */
  /* padding: 0 20px 0 0; */
}

.dateviewshomejs {
  display: flex;
  align-items: center;
  /* Asigură alinierea pe verticală */
  gap: 10px;
}

.datee,
.viewss {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: var(--small-p-text);
}



.blog {
  font-family: sans-serif;
  max-width: 960px;

  /* Lățimea maximă a conținutului */
}

.blog h1 {
  text-align: center;
  margin-bottom: 20px;
}

.posts-container-homejs {
  margin: 20px 0 20px 20px;
  background-color: var(--second-background-color);
  border-radius: 5px 5px 5px 5px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Aliniază pe verticală */
  align-items: center;
  /* Aliniază pe orizontală */
  /* margin: 0 auto; */

}

.blog-post {
  max-width: 90%;
}

.blog-post .hrpostjs {
  width: 90%;
  margin: 20px auto;
  /* Centrare și spațiere verticală */
  border: none;
  /* Elimină bordura implicită */
  height: 1px;
  /* Grosimea liniei */
  background-color: #ffc107;
  /* Culoarea liniei */
}

.post-imageHomejs {
  /* width: 100%;  */
  height: auto;
  /* Înălțimea se ajustează automat la imagine */
  overflow: hidden;
  /* Ascunde părțile imaginii care depășesc containerul */
  margin: 5px 0 5px 0;
}

.post-imageHomejs .postHomeImg {
  /* min-width: 240px; */
  /* Lățimea minimă a imaginii */
  height: auto;
  /* Înălțimea se ajustează automat la imagine */
  width: 100%;
  /* Lățimea maximă este 100% din container */
  display: block;
  /* Elimină spațiul implicit sub imagine */
  border-radius: 2px;
}

.post-imageHomejs img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.blog-post .post-title {
  font-size: 22px;
  margin-top: 0;
  /* margin-left: 5%; */
  max-width: fit-content;
  color: var(--title-h-color);
}

.blog-post .post-title:hover {
  cursor: pointer;
  margin-left: 1%;
  transition: 0.5s;
}

.blog-post .date {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 5%;
  color: var(--text-color);
}

.blog-post .content {
  line-height: 1.6;
  width: 90%;
  color: var(--text-color);
  word-wrap: break-word;
}

.blog-post button {
  /* Stil pentru butonul "Citește mai mult" */
}

/* .right-some-container {
  width: 30%;
  background-color: var(--third-background-color);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  display: none;
  height: 200vh;
}

*/
.recent-posts-container {}

/* recent post */
@media (min-width: 1050px) {
  .containerHome {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 686px;
    max-width: calc(100% - 240px);
    margin: 0 auto;
    padding: 0;
  }

  .blog-post .post-title {
    font-size: 26px;
  }

  .posts-container-homejs {
    border-radius: 5px 0 5px 5px;
    width: 686px;

  }

  .right-some-container {
    /* Un container pentru RecentPosts */
    width: 353px;
    /* Ocupă toată lățimea pe ecran mic */
    margin: 20px 0 0 0;
    border-radius: 0 5px 5px 0;
    display: block;
  }

  .blog {
    /* width: 100%; */
  }
}