.main-form-comment {
    width: 100%;
}

.form-info {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    background-color: var(--textareabackground);
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 0;
    color: var(--text-color)
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 8px;
    /* border: 1px solid #ccc; */
    border-radius: 1px;
    border: none;

}

.form-textarea {
    height: 100px;
    resize: vertical;
    background-color: var(--textareabackground);
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 0;
    color: var(--text-color)
}

.form-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: darkblue;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: transparent;
    /* Poți seta și altă culoare dacă vrei */
    box-shadow: none;
}